.App {
  text-align: center;
  background-color: #8C9A9E; 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  width: 100%;
  text-align: center;
}

.App-heading {
  font-size: 2em;
  font-family: 'Pacifico', cursive;
  color: #D4F5F5;
}

.Card{
    width: 22%;
    background-color: #ffffff;
    float: left;
    margin: 10px 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.CardText {
    min-height: 100px;
    max-height: 100px;    
}

.CardTextTwo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 225px;
  font-size: 1.3em;
  text-overflow: ellipsis;
}

.ImageCard {
    background-color: #747578;
    height: 125px;
}

li{
  list-style-type: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}